mixin generar_lorem(numero)
    -let inicio = 0

    strong HTML Generado por un Mixin.

    while inicio < numero
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid amet architecto debitis dicta dolorem esse id illo ipsa itaque, magnam modi molestias nisi non placeat quaerat reiciendis reprehenderit voluptas?
        -inicio++