doctype html
html(lang="es-es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Portada | Curso PUG
        //- Estilos CSS
        link(rel="stylesheet", href="css/styles.css")
    body


        div
            h1 Hola estoy aprendiendo PUG
            p
                span Así se indenta con PUG
            //- Esto es un comentario en PUG que no se interpreta
            // Este comentario si se ve porque no lleva el guión

            //- etiquetas con atributos en PUG:

            a(href="http://www.julioemata.es",
                title="Sitio Julio Mata",
                target="_blank"
            ) Mi sitio Web

            div.caja.caja1 caja 1
            div.caja.caja2 caja 2
            div.caja.caja3 caja 3
            div.caja.caja4 caja 4

            //- Mostrar imagenes.
            img(src="img/logoLaragon2.png", alt="Logo")

            //- ejemplo de indentación manual con una lista, ver 2 ejemplos:
            //- ejemplo largo:
            ul.lista
                li.elemento
                    a(href="#").enlace Enlace 1
                li.elemento
                    a(href="#").enlace Enlace 2
                li.elemento
                    a(href="#").enlace Enlace 3

            //- ejemplo corto con indentación manual:
            ul.lista
                li.elemento: a(href="#").enlace Enlace 1
                li.elemento: a(href="#").enlace Enlace 2
                li.elemento: a(href="#").enlace Enlace 3

            //- Otro ejemplo de indentacion manual:
            .caja: .subcaja: p Hola
