//- Usando los block y los extends
extends ../templates/layoutPrincipal.pug

block tituloPagina
    | Contacto -

block header
    include ../templates/__menuLayout.pug
block titulo
    .titulo-seccion--h3
        h3 Formulario de Contacto
block principal
    include ../templates/__formularioContacto.pug
block piePagina
    include ../templates/__footerLayout.pug