//- Usando los block y los extends
extends ../templates/layoutPrincipal.pug


block header
    include ../templates/__menuLayout.pug
    include ../templates/__heroLayout.pug

block principal
    .wrapper
        h1 Contenido de Remplazo

block piePagina
    include ../templates/__footerLayout.pug