//- Usando los block y los extends
extends ../templates/layoutPrincipal.pug

block tituloPagina
    | Multimedia -

block header
    include ../templates/__menuLayout.pug
block titulo
    h3 Contenido de página multimedia
block principal
    .videoContent
        video(poster="media/portadaVideo.png" controls)
            source(src="media/video.mp4")

block piePagina
    include ../templates/__footerLayout.pug