
block principal
    .row.mb-2
        .col-md-6
            .row.g-0.border.rounded.overflow-hidden.flex-md-row.mb-4.shadow-sm.h-md-250.position-relative
                .col.p-4.d-flex.flex-column.position-static
                    strong.d-inline-block.mb-2.text-primary World
                    h3.mb-0 Featured post
                    .mb-1.text-muted Nov. 12 2022
                    p.card-text.mb-auto This is a wider card with supporting text below as a natural lead-in to additional content.
                    a.stretched-link(href="#") Continue Reading
                .col-auto.d-none.d-lg-block
                    img.bd-placeholder-img(src="img/favicon.png", width="200", height="200")

        .col-md-6
            .row.g-0.border.rounded.overflow-hidden.flex-md-row.mb-4.shadow-sm.h-md-250.position-relative
                .col.p-4.d-flex.flex-column.position-static
                    strong.d-inline-block.mb-2.text-primary Diseño
                    h3.mb-0 Featured post
                    .mb-1.text-muted Dic. 2 2022
                    p.card-text.mb-auto This is a wider card with supporting text below as a natural lead-in to additional content.
                    a.stretched-link(href="#") Continue Reading
                .col-auto.d-none.d-lg-block
                    img.bd-placeholder-img(src="img/favicon.png", width="200", height="200")
