block header
    .envoltorioHero
        h1.titulo-principal Titulo de la Web
        .envoltorioContenido
            p.txtHero Texto de la Cabecera Hero
            .botones
                button.btnPrimario Botón Primario
                button.btnSecundario Botón Secundario
        .overflowHidden
            .contentImagen
                img(src="./img/bg-1600x800.jpg", alt="fondo")