block header
    .px-4.pt-5.my-5.text-center.border-bottom
        h1.display-4.fw-bold WebStudio JM Designs
        .col-lg-6.mx-auto
            p.lead.mb-4
                strong El sitio web es la clave de su negocio.
                |  Obtenga un diseño
                |  y
                i  desarrollo web profesional
                |  hoy mismo, y nos aseguraremos de que
                em  se haga notar.
            .d-grid.gap-2.d-sm-flex.justify-content-sm-center.mb-5
                button.btn.btn-primary.btn-lg.px-4.me-sm-3 Botón Primario
                button.btn.btn-outline-secondary.btn-lg.px-4 Botón Secundario
        .overflow-hidden
            .container.px-5
                img.img-fluid.border.rounded-3.shadow-lg.mb-4(src="./img/bg-1600x800.jpg")